*{
    margin:0;
    border:0;
}
body{
    align-items:center;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient(to right, rgb(1, 5, 53), rgba(53, 2, 109, 0.866));
}
h1{
    padding:7vmin;
    color: aliceblue;
}
.block textarea{
    align-items: center;
    width: 100vmin;
    height:40vmin;
    border-radius:2vmin;
    background-color: rgba(45, 88, 168, 0.484);
    color: #FFFF;
    resize: none;
}
.bu{
    padding:3vmin;
    padding-left:0vmin;
}
.bu select{
    width:80vmin;
    height:30px; 
    border-radius: 3vmin;
    background:#403d84;
}

.bu button{
    border-radius:3vmin;
    cursor: pointer;
    width:15vmin;
    height:6vmin;
    background-color:rgb(230, 18, 54);
    color:#FFFF ;
    
    align-items: center;
}
 
textarea::placeholder{
color: #ddd;
font-size: 16px;
}